* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.bg-img {
  background-image: url('background-img.jpg');
  background-size: cover !important;;
  height: 100vh !important;
  background-position: center;
  /* position: absolute; */
}
.navbar{
  /* position: relative; */
}
.navbar .navbar-nav .nav-item a:hover {
  color: rgb(3, 102, 63);
}
.firs-btn {
  background-color: orange;
  border-radius: 0px;

  padding: 20px 30px;
  color: white;
  font-weight: bold;
  transition: all 0.3s;
}
.firs-btn:hover {
  background-color: transparent;
  border-color: 2px solid white;

}
.Helping {
  margin: 80px;
  color: white;
  font-weight: 700;
}
.form-control {
  width: 50%;
  color: aliceblue;
}
.Helping h2 {
  font-size: 60px;
}
.Helping p {
  margin: 30px 0px;
}
.second-btn{
    background-color: rgb(0, 94, 5);
    border-radius: 0px;
    border: 1px solid white;
    padding: 20px 30px;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}
.second-btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: transparent;
    border-color: 2px solid white;
    border: 1px solid white;
}
.dropdown {
  transition: all 0.5s;
}
.dropdown:hover .dropdown-menu {
  display: block !important;
}
.about-text {
  padding-top: 100px;
}
.third-btn {
  background-color: rgb(243, 63, 63);
  border-radius: 0px;
  border: 1px solid white;
  padding: 20px 30px;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}
.third-btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: transparent;
  border-color: 2px solid white;
  border: 1px solid rgb(243, 63, 63);
  color: rgb(243, 63, 63);
}
.fourth-btn {
  background-color: transparent;
  border: 1px solid rgb(243, 63, 63);
  padding: 20px 30px;
  color: rgb(243, 63, 63);
  font-weight: bold;
  transition: 0.3s;
}
.fourth-btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: rgb(243, 63, 63);
  border-color: 2px solid white;
  border:none;
  color: rgb(255, 255, 255);
}
@media(max-width:768px){
  .Helping h2{
    font-size: 25px !important;
  }
}
.three-image>* {
  padding-right: calc(var(--bs-gutter-x) * .0); 
  padding-left: calc(var(--bs-gutter-x) * .0);
  flex-wrap: wrap;
}
.slide_right{
  color: rgb(243, 63, 63);
  border: 2px solid rgb(243, 63, 63);
  padding: 18px 36px;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.slide_right:hover {
  box-shadow: inset 400px 0 0 0 rgb(243, 63, 63);
  color: white;
}
.news .overlay{
  background-color: #ece9e9;
}
.medicine-box{
  background-image: url(section-bg1.jpg.webp);
  background-size: cover;
  height: auto;
  width: 100%;
}
.education {
 padding-bottom: 50px;
}
.education a{
  text-decoration: none;
  font-weight: 700;
  color: white;
}
.news-button{
  width: 70px;
  height: 70px;
  border: 1px solid rgb(177, 177, 177);
}
.news-button:hover{
  background-color: orangered;
}
.latest-button:hover{
  color: white;
}
.ecosystem-1 a{
 text-decoration: none;
 color: red;
}
.social-icon a{
  border: 0.5px solid white;
  padding: 10px;
  font-size: 30px;
  color: white;
}
.social-icon a:hover{
  padding: 10px;
  font-size: 30px;
  color: rgb(255, 248, 55);
}
.navigation a{
text-decoration: none;
color: rgb(255, 255, 255);
}
.navigation a:hover{
  text-decoration: underline;
  color: rgb(255, 0, 0);
}
.contact-us a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.contact-us a:hover{
    text-decoration: underline;
    color: rgb(255, 0, 0);
}